<h1 class="text-center mt-5">Laboratório de Inteligência</h1>
<h1 class="text-center">Computacional</h1>
<div class="d-flex justify-content-center">
    <img src="/img/banner.png" style="width: 45%;">
</div>
<div class="container-sm shadow mt-5 p-2">
    <h3 class="text-center">Sobre o Laboratório</h3>
    <p class="text-justify">
        O LabInc - Laboratório de Inteligência Artificial - é um espaço colaborativo coordenado pelo
        Prof. Bruno Vicente, do Instituto Federal do Maranhão (IFMA), Campus Coelho Neto. O LabInc tem
        como ajudar a desenvolver pesquisas sobre Inteligência Artificial, tanto teórica quanto aplicada.
        Como um laboratório de pesquisa aplicada, destacamos nosso compromisso em desenvolver soluções e
        estudos fundamentados na realidade de organizações públicas, privadas e da sociedade civil. O LabInc
        mantém uma abordagem aberta, acolhendo colaborações nacionais e internacionais de acadêmicos,
        profissionais e entusiastas dessa tecnologia, que vem transformando a maneira como percebemos o
        mundo e geramos conhecimento.
    </p>
<!--    <div class="d-flex justify-content-center">-->
<!--        <a class="btn btn-outline-primary" href="/home/sobre">Saiba Mais</a>-->
<!--    </div>-->
</div>

<h1 class="text-center mt-5">Grupo de Pesquisa ICARO</h1>
<h3 class="text-center">Inteligência Computacional e Aplicações Robóticas</h3>

<div class="d-flex justify-content-center">
    <img src="/img/logo_icaro.png" style="width: 45%;">
</div>

<div class="container-sm shadow mt-5 p-2">
    <p class="text-justify">
        O <strong>ICARO (Inteligência Computacional e Aplicações Robóticas)</strong> é um grupo de pesquisa dedicado ao desenvolvimento e aplicação de soluções inovadoras em inteligência artificial, aprendizado de máquina, robótica e computação inteligente. Com foco na pesquisa e no avanço tecnológico, o ICARO busca explorar novas abordagens para a automação, visão computacional, processamento de dados e sistemas inteligentes, promovendo inovação e contribuindo para o desenvolvimento científico e tecnológico. O grupo atua tanto na pesquisa teórica quanto na implementação prática, incentivando a colaboração entre acadêmicos, estudantes e profissionais da área para resolver desafios complexos e impactar positivamente a sociedade.
    </p>
</div>